
<%= form_for @cropplanfield, :html => { :name => "cpf"} do |f| %>

<%= render "shared/error_messages", :object => f.object%>

	<% if @cptransaction == 'edit' %>
		    <% get_cropplanfield_info %> 
			<% @cpf.each do |c| %>
				<% @cropplanfull = c.cropplanfull %>
				<% @avg_yield_acre = c.avg_yield_acre %>
				<% @crop_inventory_uom = c.crop_inventory_uom %>
			 
			<% end %>
	<% elsif @cptransaction == 'new' %>
				<% @cropplanfull = "" %>
				<% @avg_yield_acre = 0 %>
				<% @crop_inventory_uom = "" %>	
				 
	<% end %>
	
	<% get_fieldcropplan_info %> 
	<% @fcp.each do |c| %>
		<% @fieldname = c.fieldname%>
		<%  @number_acres = c.number_acres %>
	<% end %>
	
 <table class="twocolumn">
	<tr>
		<td colspan="4">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td width="25%">
		</td>
		<td  width="25%">
				<label class=" label" for="fields">Field<abbr title="required"> </abbr>	</label>	
		</td>
		<td  width="25%">
			<div id='datadisplay'> <%= @fieldname %>	</div>	
		</td>
		<td  width="25%">
		</td>
	</tr>
	<tr>
		<td width="25%">			
		</td>
		<td  width="25%">
			<label class=" label" for="fields">Crop plan*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>	
		</td>
		<td  width="25%">
			<% get_cropplans_by_year %>
			<%= collection_select("cropplanfield", "cropplan_id", @cropplans, "id", "cropplanfull", options = {:prompt => " "}) %>		
		</td>
		<td  width="25%">			
		</td>
	</tr>
	<% if @cptransaction == 'edit' %> 
		<tr>
			<td width="25%">
			</td>
			<td  width="25%">
					<label class=" label" for="fields">Field acres<abbr title="required"> </abbr>	</label>	
			</td>
			<td  width="25%">
				<div id='datadisplay'> <%= @number_acres %>	</div>	
			</td>
			<td  width="25%">
			</td>
		</tr>
	<% end %>

 	<tr>
		<td width="25%">			
		</td>
		<td  width="25%">
			<label class=" label" for="fields">Plan acres*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>	
		</td>
		<td  width="25%">
			<%= f.text_field :plan_acres %> 	
		</td>
		<td  width="25%">			
		</td>
	</tr>
<% if @cptransaction == 'edit' %> 
	<tr>
		<td width="25%">
		</td>
		<td  width="25%">
				<label class=" label" for="fields">Crop avg yield<abbr title="required"> </abbr>	</label>	
		</td>
		<td  width="25%">
			<div id='datadisplay'> <%= @avg_yield_acre %>	</div>	
		</td>
		<td  width="25%">
		</td>
	</tr>
<% end %> 
   
	<tr>
		<td width="25%">
		</td>
		<td  width="25%">
				<label class=" label" for="fields">Field avg yield<abbr title="required"> </abbr>	</label>	
		</td>
		<td  width="25%">
			 <%= f.text_field :avg_yield %> 	
		</td>
		<td  width="25%">
		</td>
	</tr>
<% if @cptransaction == 'edit' %> 	
	<tr>
		<td width="25%">
		</td>
		<td  width="25%">
				<label class=" label" for="fields">Yield UOM<abbr title="required"> </abbr>	</label>	
		</td>
		<td  width="25%">
			<div id='datadisplay'> <%= @crop_inventory_uom %>	</div>	
		</td>
		<td  width="25%">
		</td>
	</tr>
<% end %> 
	<tr>
		<td width="25%">
		</td>
		<td colspan="2">
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 	<%= f.submit " Update ", :class => "button" %><br><br>
		</td>


	</tr>
</table>
<% end %>




