<h1>View Parties info</h1>

<table class="show">
	<tr>
		<td class="show_left">
			Name:
		</td>
		<td class="show_right">
			<%= @party.partyname %>
		</td>
	</tr>	
	<tr>
		<td class="show_left">First name:</td>
		<td class="show_right">
	  		<%= @party.partyfirstname %>
		</td>
	</tr>
	<tr>
		<td class="show_left">Last name:</td>
		<td class="show_right">
	  		<%= @party.partylastname %>
		</td>
	</tr>


	<tr>
		<td class="show_left">Address1:</td>
		<td class="show_right">
	  		<%= @party.partyaddress1 %>
		</td>
	</tr>

	<tr>
		<td class="show_left">Address2:</td>
		<td class="show_right">
	  		<%= @party.partyaddress2 %>
		</td>
	</tr>

	<tr>
		<td class="show_left">City:</td>
		<td class="show_right">
	  		<%= @party.partycity %>
		</td>
	</tr>

	<tr>
		<td class="show_left">State:</td>
		<td class="show_right">
	  		<%= @party.partystate %>
		</td>
	</tr>

	<tr>
		<td class="show_left">Postalcode:</td>
		<td class="show_right">
			<%= @party.partypostalcode %>
		</td>
	</tr>

	<tr>
		<td class="show_left">Country:</td>
		<td class="show_right">
	  		<%= @party.country.name %>
		</td>
	</tr>

	<tr>
		<td class="show_left">Phone:</td>
		<td class="show_right">
	  		<%= @party.partyphone %>
		</td>
	</tr>

	<tr>
		<td class="show_left">Email:</td>
		<td class="show_right">
	  		<%= @party.partyemail %>
		</td>
	</tr>

	<tr>
		<td class="show_left">Job title:</td>
		<td class="show_right">
	  		<%= @party.partyjobtitle %>
		</td>
	</tr>
	<tr>
		<td class="show_left">Person's roles:</td>
		<td class="show_right">

		
			 <% unless @partytypes.empty? %>
			     <%   @partytypes.each  do  |f| %> 
			 		 <%= f.typedescription  %> </br>
				<% end %> 
			<% end %> 	 
		  
		  
		</td>
	</tr>
	
	<tr>
		<td class="show_left">Hourly rate:</td>
		<td class="show_right">
	  		<%= @party.rate_hour %>
		</td>
	</tr>
</table>


<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
