<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @party.userid %>
</p>

<p>
  <b>Partyname:</b>
  <%= @party.partyname %>
</p>

<p>
  <b>Partylastname:</b>
  <%= @party.partylastname %>
</p>

<p>
  <b>Partyfirstname:</b>
  <%= @party.partyfirstname %>
</p>

<p>
  <b>Partyaddress1:</b>
  <%= @party.partyaddress1 %>
</p>

<p>
  <b>Partyaddress2:</b>
  <%= @party.partyaddress2 %>
</p>

<p>
  <b>Partycity:</b>
  <%= @party.partycity %>
</p>

<p>
  <b>Partystate:</b>
  <%= @party.partystate %>
</p>

<p>
  <b>Partypostalcode:</b>
  <%= @party.partypostalcode %>
</p>

<p>
  <b>Partycountry:</b>
  <%= @party.partycountry %>
</p>

<p>
  <b>Partyphone:</b>
  <%= @party.partyphone %>
</p>

<p>
  <b>Partyemail:</b>
  <%= @party.partyemail %>
</p>

<p>
  <b>Partyjobtitle:</b>
  <%= @party.partyjobtitle %>
</p>


<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
