<script type="text/javascript"> 
function loadFake() {
   
   document.fm.fake_input.value = document.fm.farm_logo.value;  

}
</script>

<%= semantic_form_for @farm, :html => {:name => "fm", :multipart => true } do |f| %>
<%= render "shared/error_messages", :object => f.object%>
 
<% if !@farm.logo_file_name.blank?   %>
	<%= image_tag @farm.logo.url(:medium) %><br> 
<% end %>
  <%= f.inputs do %>
<br /><br>
   <%= f.input :farmname, :label => "Farm name"%>
 
   <%= f.input :total_acres, :as => :string, :label => "Total acres"  %>

<br>
   <% get_parties_by_type('Billing source') %>
<li class="string input optional stringish">
	<label class=" label" for="farm">Billing source*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>

	<% if !@party_types.nil? %>		
<%= collection_select("farm", "party_id", @party_types, "id", "partyname", options = {:prompt => " "}) %> </li>
	<% end %>
	
		<div class="hintbase">
			This will establish the Billing source information for Invoicing. Must be defined in Parties.
		</div>
<br>
 <li class="string input optional stringish">
   <label class=" label" for="category">Logo (click field)<abbr title="required"> </abbr>  </label>
	<div class="fileinputs">
		
	
					
					<%= f.file_field :logo, :class => 'file', :onchange => 'loadFake()'  %>	
				 
		<div class="fakefile">
	
			<input id="fake_input" class="input_medium"/>
			
			<%= image_tag "combo_select.gif" %>
		 
		</div>
	</div>
	</li>
  <% end %>
<br />
 
  <%= f.buttons do %>
    <%= f.commit_button :label => "Update Farm", :button_html => { :class => "button" }%>
  <% end %>
<br />
<% end %>
