<p id="notice"><%= notice %></p>

<p>
  <b>Supplyinventory:</b>
  <%= @supplyinventory_tran.supplyinventory_id %>
</p>

<p>
  <b>Supply tran type:</b>
  <%= @supplyinventory_tran.supply_tran_type %>
</p>

<p>
  <b>Supply tran type:</b>
  <%= @supplyinventory_tran.supply_tran_type_id %>
</p>

<p>
  <b>Supply tran qty:</b>
  <%= @supplyinventory_tran.supply_tran_qty %>
</p>

<p>
  <b>Supply tran cost:</b>
  <%= @supplyinventory_tran.supply_tran_cost %>
</p>


<%= link_to 'Edit', edit_supplyinventory_tran_path(@supplyinventory_tran) %> |
<%= link_to 'Back', supplyinventory_trans_path %>
