<script type="text/javascript"> 
function updateNet() {
 
document.st.scaleticket_net_weight.value = (document.st.scaleticket_gross_weight.value -0) - (document.st.scaleticket_tare_weight.value -0);
}
</script>

<%= form_for @scaleticket, :html => { :name => "st"} do |f| %>

<%= render "shared/error_messages", :object => f.object%>

 <table class="twocolumn">
	<tr>
		<td colspan="4">
			<div id="form_header">			 	 
		 SCALE TICKETS register the inventory weight of harvested crops and assign them to a storage location. 			 
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			&nbsp;
		</td>
		<td  >
			<%= f.label :ticket_id, "Ticket ID" %>
		</td>
		<td>
			<% if !@scaleticket.ticket_id.nil? %>
				<%= @scaleticket.ticket_id%>
			<% end %>
		</td>

	</tr>
	<tr>
		<td>
			<%= f.label :tran_date, "Transaction date*" %> 
		</td>
		<td>
			<%= f.text_field :tran_date %>
		</td>
		<td>
		    <% get_cropplans_by_year %>
			<label class=" label" for="scaletickets">Crop plan*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		

		</td>
		<td>
			<%= collection_select("scaleticket", "cropplan_id", @cropplans, "id", "cropplanfull", options = {:prompt => " "}) %>

		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :pack_qty, "Pack Qty*" %> 
		</td>
		<td>
			<%= f.text_field :pack_qty %>
		</td>
		<td>
			<% get_types_by_name("crop_inventory_uom") %>
			<label class=" label" for="weight_uom">Weight UOM<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		

		</td>
		<td>
			<%= collection_select("scaleticket", "weight_uom", @types, "type_value_string", "type_value_string", options = {:prompt => " "}) %>	

		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :gross_weight, "Gross weight*" %>
		
		 
		</td>
		<td>
			<%= f.text_field :gross_weight, :onchange => "updateNet()"  %>
		</td>
		<td>

		</td>
		<td>

		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :tare_weight, "Tare Weight*" %> 
		</td>
		<td>
			<%= f.text_field :tare_weight, :onchange => "updateNet()"  %>
		</td>
		<td>

		</td>
		<td>

		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :net_weight, "Net Weight*" %> 
		</td>
		<td>
			<%= f.text_field :net_weight %>
		</td>
		<td>

		</td>
		<td>

		</td>
	</tr>

	
	<tr>
		<td>
		    <% get_storage %>
			<label class=" label" for="scaleticket">Storage unit<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		

		</td>
		<td>
			<%= collection_select("scaleticket", "storage_id", @storages, "id", "name", options = {:prompt => " "}) %>

		</td>
		<td>
		 
		</td>
		<td>
			 
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :moisture_pct, "Moisture %" %> 
		</td>
		<td>
			<%= f.text_field :moisture_pct %>
		</td>
		<td>
		   <% get_parties_by_type("Employee") %>
			<label class=" label" for="scaleticket">Driver<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>
		</td>
		<td>
			<%= collection_select("scaleticket", "party_id", @party_types, "id", "partyworkdescription", options = {:prompt => " "}) %>

		</td>

	</tr>
	<tr>
		<td colspan="4">
		<div class="hintbase">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		 	 
	      Establish which field or fields the harvested crop originated from.			 
		</div>
	</tr>
	<tr>
		<td>
	    <% get_fields_by_farm %>
		<label class=" label" for="scaleticket">Field*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_1", @fields, "id", "fieldname", options = {:prompt => " ", :include_blank => ' '}) %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="fields">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
			<%= f.text_field :field_pct_1 %>
			 defaults to 100% 
		</td>
	</tr>

	<tr>
		<td>
	  
		<label class=" label" for="scaleticket">Field<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_2", @fields, "id", "fieldname", options = {:prompt => " " , :include_blank => ' '}) %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="fields">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
			<%= f.text_field :field_pct_2 %>   
		</td>
	</tr>
	<tr>
		<td>
	  
		<label class=" label" for="scaleticket">Field<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_3", @fields, "id", "fieldname", options = {:prompt => " "}, :include_blank => ' ') %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="scaleticket">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		<%= f.text_field :field_pct_3 %>
		</td>
	</tr>
	<tr>
		<td>
	  
		<label class=" label" for="scaleticket">Field<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_4", @fields, "id", "fieldname", options = {:prompt => " "}, :include_blank => ' ') %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="fields">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
			<%= f.text_field :field_pct_4 %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 	<%= f.submit " Update ", :class => "button"  %>
			<br><br>
		</td>
		<td>
		 
		</td>
	</tr>	
 </table>
 

<br>
 
 
<% end %>
