

<%= form_for @scaleticket, :html => { :name => "st"} do |f| %>

<%= render "shared/error_messages", :object => f.object%>

 <table class="twocolumn">
	<tr>
		<td colspan="4">
			<div id="form_header">			 	 
		 SCALE TICKETS register the net weight of harvested crops, convert them to their inventory unit of measure  and assign them to a storage location. 			 
			</div>
		</td>
	</tr>

	<tr>
		<td>
			<%= f.label :tran_date, "Transaction date*" %> 
		</td>
		<td>
			<%= f.text_field :tran_date %>
		</td>
		<td>
		    <% get_cropplans_by_year %>
			<label class=" label" for="scaletickets">Crop plan*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		

		</td>
		<td>
			<%= collection_select("scaleticket", "cropplan_id", @cropplans, "id", "cropplanfull", options = {:prompt => " "}) %>

		</td>
	</tr>
	<tr>
		<td>
		 
			<label class=" label" for="scaletickets">Inventory update*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
<br>

		</td>
		<td>
			<% get_types_by_name("inventory_update") %>		
			<%= collection_select("scaleticket", "inventory_update", @types, "type_value_string", "type_value_string") %>

		</td>
		<td>
		    <% get_storage %>
			<label class=" label" for="scaleticket">Storage unit<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		

		</td>
		<td>
			<%= collection_select("scaleticket", "storage_id", @storages, "id", "name", options = {:prompt => " "}) %>

		</td>
	</tr>
	<tr>
		<td colspan="3">
		<div class="hintbase">			 	 
			will determine whether to consolidate inventory or maintain scaleticket integrity in inventory. 			 
		</div>
		</td>
	</tr>

	<tr>
		<td colspan="4">
			<br><br>
		<div class="hintbase">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		 	 
	      Establish which field or fields the harvested crop originated from.			 
		</div>
	</tr>
	<tr>
		<td>
	    <% get_fields_by_farm %>
		<label class=" label" for="scaleticket">Field*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_1", @fields, "id", "fieldname", options = {:prompt => " ", :include_blank => ' '}) %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="fields">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
			<%= f.text_field :field_pct_1 %>
			 defaults to 100% 
		</td>
	</tr>

	<tr>
		<td>
	  
		<label class=" label" for="scaleticket">Field<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_2", @fields, "id", "fieldname", options = {:prompt => " " , :include_blank => ' '}) %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="fields">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
			<%= f.text_field :field_pct_2 %>   
		</td>
	</tr>
	<tr>
		<td>
	  
		<label class=" label" for="scaleticket">Field<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_3", @fields, "id", "fieldname", options = {:prompt => " "}, :include_blank => ' ') %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="scaleticket">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		<%= f.text_field :field_pct_3 %>
		</td>
	</tr>
	<tr>
		<td>
	  
		<label class=" label" for="scaleticket">Field<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_4", @fields, "id", "fieldname", options = {:prompt => " "}, :include_blank => ' ') %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="fields">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
			<%= f.text_field :field_pct_4 %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 	<%= f.submit " Add Ticket ", :class => "button"  %>
			<br><br>
		</td>
		<td>
		 
		</td>
	</tr>	
 </table>
 

<br>
 
 
<% end %>
