<script type="text/javascript"> 
 

function updateNet() {
 
document.st.scaleticket_net_weight.value = (document.st.scaleticket_gross_weight.value -0) - (document.st.scaleticket_tare_weight.value -0); 


document.st.scaleticket_pack_qty.value = ((document.st.scaleticket_net_weight.value -0) /
(document.st.scaleticket_weight_conversion.value -0)).toFixed(0);

}



</script>

<%= form_for @scaleticket, :html => { :name => "st"} do |f| %>

<%= render "shared/error_messages", :object => f.object%>

 <table class="twocolumn">
	<tr class="shade">
		<td colspan="4">
			<div id="form_header">			 	 
		 SCALE TICKETS register the net weight of harvested crops, convert them to their inventory unit of measure  and assign them to a storage location. 			 
			</div>
		</td>
	</tr>
	 

 

	<tr colspan="4">
		<td>
			&nbsp;
		
		 
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :gross_weight, "Gross weight/count*" %>


		</td>
		<td>
			<%= f.text_field :gross_weight, :onchange => "updateNet()"  %>
		</td>
		<td>

		</td>
		<td>

		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :tare_weight, "Tare Weight*" %> 
		</td>
		<td>
			<%= f.text_field :tare_weight, :onchange => "updateNet()"  %>
		</td>
		<td>

		</td>
		<td>

		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :net_weight, "Net Weight/count*" %> 
		</td>
		<td>
			<%= f.text_field :net_weight, :onchange => "updateQty()" %>
		</td>
		<td>

		</td>
		<td>

		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :pack_qty, "Inventory Qty*" %> 
		</td>
		<td>
				<%= f.text_field :pack_qty  %>
		</td>
		<td>
			
				<%= f.label :weight_conversion, "Weight conversion" %>
		 
		</td>
		<td>
			<div class="disabled">
				<%= f.text_field :weight_conversion, :disabled => true %>
			</div>
		</td>
	</tr>
	
	<tr>
		<td>
		 
				<%= f.label :inventory_uom, "Inventory UOM*" %> 
		</td>
		<td>
			<div class="disabled">
				<%= f.text_field :inventory_uom, :disabled => true %>
			</div>
		</td>
 
	</tr>
	

	<tr>
		<td >
			<%= f.label :grade, "Grade" %>
		</td>


		<td>
			<% get_types_by_name("crop_grade") %>
			<%= collection_select("scaleticket", "grade", @types, "type_value_string", "type_value_string", options = {:prompt => " "}) %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :moisture_pct, "Moisture %" %> 
		</td>
		<td>
			<%= f.text_field :moisture_pct %>
		</td>
		<td>
		   <% get_parties_by_type("Employee") %>
			<label class=" label" for="scaleticket">Driver<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>
		</td>
		<td>
			<%= collection_select("scaleticket", "party_id", @party_types, "id", "partyworkdescription", options = {:prompt => " "}) %>

		</td>

	</tr>
	<tr>
		<td colspan="2">
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% if @transaction == 'new' %>
		 		<%= f.submit " Add Ticket ", :class => "button"  %>
			<% else %>
				<%= f.submit " Update Ticket", :class => "button"  %>
			<% end %>
			<br><br>
		</td>
		<td>
		 
		</td>
	</tr>
	<tr class="shade">
		<td  colspan="4">
			&nbsp;
		</td>
	</tr>	
	<tr class="shade">
		<td  >
			<%= f.label :ticket_id, "Ticket ID" %>
		</td>
		<td colspan="3">
 
				<%= f.text_field :ticket_id %>
 
		</td>
	</tr>

	<tr class="shade">
		<td>
			<%= f.label :tran_date, "Transaction date*" %> 
		</td>
		<td>
 
			<%= f.text_field :tran_date %>
	 
		</td>
		<td>
		    
			<label class=" label" for="scaletickets">Crop plan*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		

		</td>
		<td>
			<% if @transaction == 'new' %>
				<% get_cropplans_by_year %>
				<%= collection_select("scaleticket", "cropplan_id", @cropplans, "id", "cropplanfull", options = {:prompt => :cropplan_id}) %>
			<% else %>
				<div class="disabled">
					<%= @cropplan.cropplanfull %>					 
				</div>
			<% end %>

		</td>
		<tr class="shade">

			<td>
			   
				<label class=" label" for="scaleticket">Storage unit<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		

			</td>
			<td>
				<% if @transaction == 'new' %>
				 	<% get_storage %>
					<%= collection_select("scaleticket", "storage_id", @storages, "id", "name", options = {:prompt => " "}) %>
				<% else %>
					<div class="disabled">
						<%= @storage.name %>					 
					</div>
				<% end %>
			</td>
				<td>

					<label class=" label" for="scaletickets">Inventory update*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		

				</td>
				<td>
					<% if @transaction == 'new' %>
				 		<% get_types_by_name("inventory_update") %>		
						<%= collection_select("scaleticket", "inventory_update", @types, "type_value_string", "type_value_string") %>
						
					<% else %>
						<div class="disabled">
							<%= @scaleticket.inventory_update %>					 
						</div>
					<% end %>


				</td>

		</tr>
	</tr>
	<tr class="shade">
		<td colspan="4">
		<div class="hintbase">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		 	 
	      Establish which field or fields the harvested crop originated from.			 
		</div>
	</tr>
	<tr class="shade">
		<td>
	    <% get_fields_by_farm %>
		<label class=" label" for="scaleticket">Field*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_1", @fields, "id", "fieldname", options = {:prompt => " ", :include_blank => ' '}) %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="fields">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
			<%= f.text_field :field_pct_1 %>
			 defaults to 100% 
		</td>
	</tr>

	<tr class="shade">
		<td>
	  
		<label class=" label" for="scaleticket">Field<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_2", @fields, "id", "fieldname", options = {:prompt => " " , :include_blank => ' '}) %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="fields">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
			<%= f.text_field :field_pct_2 %>   
		</td>
	</tr>
	<tr class="shade">
		<td>
	  
		<label class=" label" for="scaleticket">Field<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_3", @fields, "id", "fieldname", options = {:prompt => " "}, :include_blank => ' ') %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="scaleticket">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		<%= f.text_field :field_pct_3 %>
		</td>
	</tr>
	<tr class="shade">
		<td>
	  
		<label class=" label" for="scaleticket">Field<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>
			<%= collection_select("scaleticket", "field_id_4", @fields, "id", "fieldname", options = {:prompt => " "}, :include_blank => ' ') %>	
		</td>
	 	<td colspan="2">
			<label class=" label" for="fields">%<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
			<%= f.text_field :field_pct_4 %>
		</td>
	</tr>
	
 </table>
 

<br>
 
 
<% end %>
