<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @fieldtasksupply.user_id %>
</p>

<p>
  <b>Fieldtask:</b>
  <%= @fieldtasksupply.fieldtask_id %>
</p>

<p>
  <b>Supply:</b>
  <%= @fieldtasksupply.supply_id %>
</p>


<%= link_to 'Edit', edit_fieldtasksupply_path(@fieldtasksupply) %> |
<%= link_to 'Back', fieldtasksupplies_path %>
