
<table class="profile" summary="Profile information">
	<tr>
		<td colspan="3">
			 <div id="form_header">
				my Profile - what you have been saying.
			 </div>
		<td>
	</tr >
	<tr>
		<td  valign="top">
 
		</td>
		<td class="main">
		<br>	
			<h1>
	        <%= gravatar_for @user %>
	        <%= @user.name %> &nbsp; - &nbsp; <%= @user.email %>
		   <br>
          </h1>
		 
		<%= render 'shared/follow_form' if signed_in? %>
		
			<br>
			<% unless @user.microposts.empty? %>
			 <table class="microposts" summary="User microposts">
			
				<%= render @microposts %>
			 </table>
			<br>
			<%= will_paginate @microposts %>
			
			<% end %>
			
<a href="/pages/home">

		</td>
		<td class="sidebar" valign="top">
			<strong>Name</strong> <%= @user.name %> <br />			
			<strong>Microposts:</strong> <%= @user.microposts.count %>
			<%= render 'shared/stats' %>
		</td>
	</tr>
</table>
			