<p id="notice"><%= notice %></p>

<p>
  <b>Coupon code:</b>
  <%= @coupon.coupon_code %>
</p>

<p>
  <b>Discount amount:</b>
  <%= @coupon.discount_amount %>
</p>

<p>
  <b>Begin date:</b>
  <%= @coupon.begin_date %>
</p>

<p>
  <b>End date:</b>
  <%= @coupon.end_date %>
</p>

<p>
  <b>Discount percent:</b>
  <%= @coupon.discount_percent %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
