
<tr>
	<td class="gravatar">		
       <%= link_to gravatar_for(feed_item.user) , feed_item.user %>  
	</td>
	
	
	<td class="micropost">
		<span class="user">
			  <%= link_to feed_item.user.name, feed_item.user %> 
		</span>
		<span class="content">	  <%= feed_item.content %> </span>
		<span class="timestamp">
			
		Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
	</td>
	<% if current_user?(feed_item.user) %>
	<td>
		<%= link_to "delete", feed_item, :method => :delete,
									     :confirm => "Are you sure?",
									     :title => feed_item.content %>
	</td>
	<% end %>
	
</tr>

<tr>
		<td ></td>
		<td >
			<% get_micropost(feed_item.id) %>
			
				<% if !@micropost.microphoto_file_name.nil? and @micropost.microphoto_file_name != '' %>
					<%= image_tag @micropost.microphoto.url(:small)%> 
				<% end %>
		
		</td>
		<td ></td>


</tr>
<% get_comments(feed_item.id)%>
<tr>
	<td></td>
	<td>
		<table class="comments">
			<tr>
				<td>				
				   <% if !@comments.empty? %>
						Comments
				   	<% else %>
					
						<%= submit_tag "Add comment", :type => "button", :class => "button_clear", :onclick => "showContent('addcomment#{@micropost.id}')" %> 
				    <% end %>
				</td>
			</tr>
		</table>
	</td>
</tr>


<% if !@comments.empty? %>


		<tr>
			<td colspan="3">

			  


				<%= form_tag '/addcomment', :method=>'post', :remote => true, :html => { :'data-type' => 'html', :id => "create_comment_form#{@micropost.id}" }   do |f| %>

		
 						<%= render :partial => 'comments' %>

				
				 <table class="comments">
					<tr>
						<td colspan="2">
							 
								<input class="input_fill"  id="inputfill"  type="text" name="comment" value="Write a comment"  onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;" onsubmit="clearInput(inputfill)" />
							   <%= submit_tag " Submit ", :class => "button_very_small", :id => "commit" %>	



							<input type="hidden" name="micropost" value="<%= @micropost.id %>" />


						</td>
					 </tr>
					</table>


				<% end %>


		</tr>
				
<% else %>	
<tr>	  
	 	
		<td colspan='3'>
		    
			
			<%= form_tag '/addcomment', :method=>'post', :remote => true, :html => { :'data-type' => 'html', :id => "create_comment_form#{@micropost.id}" }   do |f| %>
			
			 <table class="firstcomment">
			 
				<div class="unhidden" id="comments<%= @micropost.id %>"></div>
				
					<tr>
				 		
						<td colspan="2">
						<div class="hidden" id="addcomment<%= @micropost.id %>">
								<input class="input_fill" id="inputfill" type="text" name="comment" value="Write a comment" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;" onsubmit="clearInput(inputfill)" />
							   <%= submit_tag " Submit ", :class => "button_very_small", :id => "submit_fill" %>	

							<input type="hidden" name="micropost" value="<%= @micropost.id %>" />

						</div>
						</td>
				 		
					 </tr>
				 
				</table>


			<% end %>		   
	     </td>
</tr>
<% end %>	     

	
	


