<script type="text/javascript"> 
function checkContract() {

if (document.sh.shipment_contract_id.value != ' ') {
   document.sh.shipment_customer_id.disabled=true;  
   document.sh.shipment_cropplan_id.disabled=true;
}
}
</script>


 
<h1>Edit Purchase Order</h1>
<%= link_to 'Back', "/poview" %>
<br> 

<%= button_to "Delete","/pos/#{@po.id}/destroy" , :method=>:delete, :class=>:button_destroy, :confirm => 'Are you sure?' %>


<%= render 'form' %>

<%= render 'podetails/index_view' %> 

<%= link_to 'Back', "/poview" %>

<br><br>
