<script type="text/javascript"> 

function setUom() {
	 
	document.su.puom.value = document.su.supply_supply_uom.value;
	document.su.duom.value = document.su.supply_distribution_uom.value;
	document.su.conv.value = document.su.supply_conversion_factor.value;
}

function checkType() {
	 
   	document.su.puom.value = document.su.supply_supply_uom.value;
	document.su.duom.value = document.su.supply_distribution_uom.value;
	document.su.conv.value = document.su.supply_conversion_factor.value;
	
	if (document.su.supply_supply_type.value != 'fertilizer')
	{
	hide('fertilizer_section'); 
	}
	else
	{
	unhide('fertilizer_section');			
	}
	
	if (document.su.supply_supply_type.value != 'restricted use')
	{
	hide('chemical_section'); 
	}
	else
	{
	unhide('chemical_section');			
	}


}



function hide(divID) {
	 
var item = document.getElementById(divID);
item.className='hidden';
}

function unhide(divID) {
 
var item = document.getElementById(divID);
item.className='unhidden';

}

</script>
<%= semantic_form_for @supply, :html => { :name => "su", :class => "form_for"} do |f| %>
<%= render "shared/error_messages", :object => f.object%>
<div id="form_header">			 	 
		Supplies are all the products that are used in performing Farm jobs. 			 
</div>

  <%= f.inputs do %>

	<br>
    <%= f.input :supplyname , :label => "Supply name",  :required => true %>
    <li class="string input optional stringish">  
	<% get_types_by_name("supply_type") %>
	<label class=" label" for="supply_type">Supply type<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
	<%= collection_select("supply", "supply_type", @types, "type_value_string", "type_value_string", options = {:prompt => " "}, {:onchange => "checkType()"}) %>	</li>
   	 

	
	<%= f.input :item_number , :label => "Item id",  :required => true %>
  <li class="string input optional stringish"> 
	<% get_types_by_name("supply_uom") %>
	<label class=" label" for="supply_uom">Purch/Inventory UOM<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
	<%= collection_select("supply", "supply_uom", @types, "type_value_string", "type_value_string", options = {:prompt => " "}, {:onchange => "setUom()"}) %>	</li>
    
    <%= f.input :supply_cost_uom , :as => :string, :label => "Purchase cost",  :required => false %>
 
    <%= f.input :supply_charge_uom, :as => :string , :label => "Supply charge",  :required => false %>
 <li class="string input optional stringish"> 
	<% get_types_by_name("distribution_uom") %>
	<label class=" label" for="distribution_uom">Distribution UOM<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
	<%= collection_select("supply", "distribution_uom", @types, "type_value_string", "type_value_string", options = {:prompt => " "}, {:onchange => "setUom()"}) %></li>
	
	<li class="string input optional stringish">
	<div class="hintbase"> UOM assigned to farm jobs. </div>
	</li>	
  
 
	<%= f.input :conversion_factor, :as => :string , :label => "Conversion factor",  :required => true , :input_html => { :onchange => "setUom()"  } %>

	<%= text_field_tag 'puom', nil, :class => "inputlabel", :disabled => true %>
	/ <%= text_field_tag 'conv', nil, :class => "inputlabel", :disabled => true %> = 
	<%= text_field_tag 'duom', nil, :class => "inputlabel", :disabled => true %>
 	<li class="string input optional stringish">
	<div class="hintbase"> Also used to develop supply cost in farm jobs.(Purchase cost / conversion factor = distribution cost). 
 	</div>
	</li>

    <%= f.input :rate_acre, :as => :string , :label => "Usage rate per acre",  :required => false, :hint => "Based on Distribution UOM." %>

    <%= f.input :manufacturer , :label => "Manufacturer",  :required => false %>

<div id="fertilizer_section" class="hidden">
	<br>
	<li class="string input optional stringish">
	<div class="hintbase"> Fertilizer components </div>
	</li>
	<%= f.input :nitrogen_content , :label => "Nitrogen (N)%", :as => :number, :required => false %>
	<%= f.input :phosphorous_content , :label => "Phosphorous (P2O5)%", :as => :number,  :required => false %>
	<%= f.input :potassium_content , :label => "Postassium (K2O)%", :as => :number,  :required => false %>
	<%= f.input :calcium_content , :label => "Calcium (C) %",  :as => :number, :required => false %>
	<%= f.input :manganese_content , :label => "Managanese (MN)%",  :as => :number, :required => false %>
	<%= f.input :magnesium_content , :label => "Mangesium (MG)%",  :as => :number, :required => false %>
	<br>
</div>

<div id="chemical_section" class="hidden">
	<br>
	<li class="string input optional stringish">
	<div class="hintbase"> Chemical dispersal </div>
	</li>
	<%= f.input :epa_id , :label => "E.P.A. id",  :required => false %>
	<li class="string input optional stringish"> 
	<% get_types_by_name("chemical_type") %>
	<label class=" label" for="carrier">Chemical type<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
	<%= collection_select("supply", "chemical_type", @types, "type_value_string", "type_value_string", options = {:prompt => " "}) %></li>
	
	<%= f.input :active_ingredient , :label => "Active ingredient",  :required => false %>
	<%= f.input :formulation , :label => "Formulation",  :required => false %>
 	<%= f.input :restricted_hours, :as => :string , :label => "Restricted hours",  :required => false %>
    
    
 <li class="string input optional stringish"> 
	<% get_types_by_name("supply_carrier") %>
	<label class=" label" for="carrier">Carrier<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
	<%= collection_select("supply", "carrier", @types, "type_value_string", "type_value_string", options = {:prompt => " ", :include_blank => ' '}) %></li>	
<%= f.input :carrier_rate_acre, :as => :string , :label => "Carrier rate per acre",  :required => false %>
<li class="string input optional stringish"> 
	<% get_types_by_name("carrier_uom") %>
	<label class=" label" for="carrier">Carrier UOM<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
	<%= collection_select("supply", "carrier_uom", @types, "type_value_string", "type_value_string", options = {:prompt => " ", :include_blank => ' '}) %></li>
    <%= f.input :problem_target , :label => "Problem targeted",  :required => false %>
		<br>
</div>

  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button :label => "Update Supply", :button_html => { :class => "button" } %>
  <% end %>
<br>
<% end %>
