<p id="notice"><%= notice %></p>

<p>
  <b>Crop:</b>
  <%= @cropplan.crop_id %>
</p>

<p>
  <b>Plan year:</b>
  <%= @cropplan.plan_year %>
</p>

<p>
  <b>Plan status:</b>
  <%= @cropplan.plan_status %>
</p>


<%= link_to 'Edit', edit_cropplan_path(@cropplan) %> |
<%= link_to 'Back', cropplans_path %>
