<%= form_for(@partyrole) do |f| %>
  <% if @partyrole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partyrole.errors.count, "error") %> prohibited this partyrole from being saved:</h2>

      <ul>
      <% @partyrole.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :party_id %><br />
    <%= f.text_field :party_id %>
  </div>
  <div class="field">
    <%= f.label :partytype_id %><br />
    <%= f.text_field :partytype_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
