<p id="notice"><%= notice %></p>

<p>
  <b>Code2:</b>
  <%= @country.code2 %>
</p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Namelc:</b>
  <%= @country.namelc %>
</p>

<p>
  <b>Code3:</b>
  <%= @country.code3 %>
</p>

<p>
  <b>Number:</b>
  <%= @country.number %>
</p>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
