<p id="notice"><%= notice %></p>

<p>
  <b>Cropplan:</b>
  <%= @retailcrop.cropplan_id %>
</p>

<p>
  <b>User:</b>
  <%= @retailcrop.user_id %>
</p>

<p>
  <b>Farm:</b>
  <%= @retailcrop.farm_id %>
</p>

<p>
  <b>Available date:</b>
  <%= @retailcrop.available_date %>
</p>

<p>
  <b>Status:</b>
  <%= @retailcrop.status %>
</p>

<p>
  <b>Shipday1:</b>
  <%= @retailcrop.shipday1 %>
</p>

<p>
  <b>Shipday2:</b>
  <%= @retailcrop.shipday2 %>
</p>

<p>
  <b>Shipday3:</b>
  <%= @retailcrop.shipday3 %>
</p>

<p>
  <b>Shipday4:</b>
  <%= @retailcrop.shipday4 %>
</p>

<p>
  <b>Shipday5:</b>
  <%= @retailcrop.shipday5 %>
</p>

<p>
  <b>Shipday6:</b>
  <%= @retailcrop.shipday6 %>
</p>

<p>
  <b>Shipday7:</b>
  <%= @retailcrop.shipday7 %>
</p>

<p>
  <b>Pickupday1:</b>
  <%= @retailcrop.pickupday1 %>
</p>

<p>
  <b>Pickupday2:</b>
  <%= @retailcrop.pickupday2 %>
</p>

<p>
  <b>Pickupday3:</b>
  <%= @retailcrop.pickupday3 %>
</p>

<p>
  <b>Pickupday4:</b>
  <%= @retailcrop.pickupday4 %>
</p>

<p>
  <b>Pickupday5:</b>
  <%= @retailcrop.pickupday5 %>
</p>

<p>
  <b>Pickupday6:</b>
  <%= @retailcrop.pickupday6 %>
</p>

<p>
  <b>Pickupday7:</b>
  <%= @retailcrop.pickupday7 %>
</p>

<p>
  <b>Sales uom:</b>
  <%= @retailcrop.sales_uom %>
</p>

<p>
  <b>Sales price:</b>
  <%= @retailcrop.sales_price %>
</p>

<p>
  <b>Sales notes:</b>
  <%= @retailcrop.sales_notes %>
</p>

<p>
  <b>Ship charge:</b>
  <%= @retailcrop.ship_charge %>
</p>


<%= link_to 'Edit', edit_retailcrop_path(@retailcrop) %> |
<%= link_to 'Back', retailcrops_path %>
