

 

<%= render "shared/error_messages", :object => @retailcrop%>


<%= link_to 'Back', '/retailcropallview' %>
<br><br>
<%= semantic_form_for @retailcrop, :html => { :name => "cr"} do |form| %>


	<div id="form_header">
		Retail Crop Detail			 	 
    </div>

  <%= form.inputs do %>

	<br>
 <li class="string input optional stringish">
	
 	<label class=" label" for="cropname">Farm -<abbr title="required"> </abbr> </label> 
    <label class=" label" for="cropname">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 
	<%= @farm.farmname %>
	<abbr title="required"> </abbr> </label> 			
	   
	</li> 
    
 

<!-- Select box for crop type -->
 
<li class="string input optional stringish">	
   <% get_cropplans_by_year %>
	<label class=" label" for="cropplans">Crop plan -<abbr title="required"> </abbr>  </label>

	 <label class=" label" for="cropname">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 	
	<%= @cropplan.cropplanfull%>
	<abbr title="required"> </abbr> </label> 			
	 
</li> 
    
	<li class="string input optional stringish">
	<label class=" label" for="retailcrops">Date available*<abbr title="required"> </abbr> </label> 
   
	<%= form.text_field :available_date  %>
	</li>
	
	
	 <li class="string input optional stringish"> 
		<% get_types_by_name("retailcrop_status") %>
		<label class=" label" for="retailcrop_status">Status<abbr title="required"> </abbr> </label>		
			<%= form.text_field :status  %></li>
		
	 <li class="string input optional stringish"> 
		<% get_types_by_name("retailcrop_uom") %>
		<label class=" label" for="retailcrop_uom">Sales UOM<abbr title="required"> </abbr>  </label>		
		<%= form.text_field :sales_uom  %></li>
		
		<li class="string input optional stringish">
		<label class=" label" for="retailcrops">Sales price*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label> 
		<%= form.text_field :sales_price  %> 
		</li> 
		<li class="string input optional stringish">
		<label class=" label" for="retailcrops">Shipping charge*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label> 
		<%= form.text_field :ship_charge  %> 
		</li> 
		<%= form.input :sales_notes, :as => :text, :label => "Sales notes",  :required => false  %> 
	
	
	<div class='hintbase'>
		Shipping days of the week
	</div>	
 	    <%= form.input :shipday1, :label => "Sun" %>
	    <%= form.input :shipday2, :label => "Mon" %>
	    <%= form.input :shipday3, :label => "Tues" %>
	    <%= form.input :shipday4, :label => "Wed" %>
	    <%= form.input :shipday5, :label => "Thurs" %>
	    <%= form.input :shipday6, :label => "Fri" %>
	    <%= form.input :shipday7, :label => "Sat" %>
	
	<div class='hintbase'>
		Pickup days of the week
	</div>
	    <%= form.input :pickupday1, :label => "Sun" %>
	    <%= form.input :pickupday2, :label => "Mon" %>
	    <%= form.input :pickupday3, :label => "Tues" %>
	    <%= form.input :pickupday4, :label => "Wed" %>
	    <%= form.input :pickupday5, :label => "Thurs" %>
	    <%= form.input :pickupday6, :label => "Fri" %>
	    <%= form.input :pickupday7, :label => "Sat" %>


<br>
<% end %>

<% end %>
 


