<h1>Listing weathers</h1>

<table>
  <tr>
    <th>Weather date</th>
    <th>Weather time</th>
    <th>Postalcode</th>
    <th>Temperature high</th>
    <th>Temperature low</th>
    <th>Wind speed</th>
    <th>Wind direction degrees</th>
    <th>Wind direction compass</th>
    <th>Precipitation</th>
    <th>Sky condition</th>
    <th>Weather condition 1</th>
    <th>Weather condition 2</th>
    <th>Weather condition 3</th>
    <th>Weather condition 4</th>
    <th>Weather condition 5</th>
    <th>Weather condition 6</th>
    <th>Weather condition 7</th>
    <th>Weather condition 8</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weathers.each do |weather| %>
  <tr>
    <td><%= weather.weather_date %></td>
    <td><%= weather.weather_time %></td>
    <td><%= weather.postalcode %></td>
    <td><%= weather.temperature_high %></td>
    <td><%= weather.temperature_low %></td>
    <td><%= weather.wind_speed %></td>
    <td><%= weather.wind_direction_degrees %></td>
    <td><%= weather.wind_direction_compass %></td>
    <td><%= weather.precipitation %></td>
    <td><%= weather.sky_condition %></td>
    <td><%= weather.weather_condition_1 %></td>
    <td><%= weather.weather_condition_2 %></td>
    <td><%= weather.weather_condition_3 %></td>
    <td><%= weather.weather_condition_4 %></td>
    <td><%= weather.weather_condition_5 %></td>
    <td><%= weather.weather_condition_6 %></td>
    <td><%= weather.weather_condition_7 %></td>
    <td><%= weather.weather_condition_8 %></td>
    <td><%= link_to 'Show', weather %></td>
    <td><%= link_to 'Edit', edit_weather_path(weather) %></td>
    <td><%= link_to 'Destroy', weather, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weather', new_weather_path %>
