<%= link_to 'Back', '/weatherview' %>
<br><br>
<h3>Weather</h3>



<p>
  <b>Weather date:</b>
  <%= @weather.weather_date %>
</p>

<p>
  <b>Weather time:</b>
  <%= @weather.weather_time %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @weather.postalcode %>
</p>

<p>
  <b>Temperature high:</b>
  <%= @weather.temperature_high %>
</p>

<p>
  <b>Temperature low:</b>
  <%= @weather.temperature_low %>
</p>

<p>
  <b>Wind speed:</b>
  <%= @weather.wind_speed %>
</p>

<p>
  <b>Wind direction degrees:</b>
  <%= @weather.wind_direction_degrees %>
</p>

<p>
  <b>Wind direction compass:</b>
  <%= @weather.wind_direction_compass %>
</p>

<p>
  <b>Precipitation:</b>
  <%= @weather.precipitation %>
</p>

<p>
  <b>Cloud cover %:</b>
  <%= @weather.sky_condition %>
</p>

<p>
  <b>Weather condition (3 hours):</b>
  <%= @weather.weather_condition_1 %>
</p>

<p>
  <b>Weather condition (+ 3 hours):</b>
  <%= @weather.weather_condition_2 %>
</p>

<p>
  <b>Weather condition (+ 3 hours):</b>
  <%= @weather.weather_condition_3 %>
</p>

<p>
  <b>Weather condition (+ 3 hours):</b>
  <%= @weather.weather_condition_4 %>
</p>

<p>
  <b>Weather condition (+ 3 hours):</b>
  <%= @weather.weather_condition_5 %>
</p>

<p>
  <b>Weather condition (+ 3 hours):</b>
  <%= @weather.weather_condition_6 %>
</p>

<p>
  <b>Weather condition (+ 3 hours):</b>
  <%= @weather.weather_condition_7 %>
</p>

<p>
  <b>Weather condition (+ 3 hours):</b>
  <%= @weather.weather_condition_8 %>
</p>



<%= link_to 'Back', '/weatherview' %>
