<h1>Listing partytypes</h1>

<table>
  <tr>
    <th>Typedescription</th>
    <th>Typecode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partytypes.each do |partytype| %>
  <tr>
    <td><%= partytype.typedescription %></td>
    <td><%= partytype.typecode %></td>
    <td><%= link_to 'Show', partytype %></td>
    <td><%= link_to 'Edit', edit_partytype_path(partytype) %></td>
    <td><%= link_to 'Destroy', partytype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partytype', new_partytype_path %>
