<p id="notice"><%= notice %></p>

<p>
  <b>Typedescription:</b>
  <%= @partytype.typedescription %>
</p>

<p>
  <b>Typecode:</b>
  <%= @partytype.typecode %>
</p>


<%= link_to 'Edit', edit_partytype_path(@partytype) %> |
<%= link_to 'Back', partytypes_path %>
