<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>   


<br>
<h1>Editing field</h1>
 
<%= link_to 'Back', :action => "index_view" %>

	<%= button_to 'Map the field', :controller => "fieldmappings", :action =>  "fieldmapping", :id =>"button" %>

<%= render 'fieldmap' %>
<%= render 'form' %>


<br>
<%= link_to 'Back', :action => "index_view" %>
<br><br>

