

<%= form_for @shipment, :html => { :name => "sh", :class => "form_for"} do |f| %>

<%= render "shared/error_messages", :object => f.object%>

<table class="twocolumn">
	<tr>
		<td colspan="4">
			<div id="form_header">			 	 
		SHIPMENTS will relieve inventory and generate customer invoices. 			 
			</div>
		</td>
	</tr>


	<tr>
		<td class="label">
			<% get_parties_by_type("Customer") %>
			<label class=" label" for="shipment">Customer*<abbr title="required"> </abbr>  </label> 
		</td>
		<td>
			<% if !@party_types.nil? %>			
				<%= collection_select("shipment", "customer_id", @party_types, "id", "partyname", options = {:prompt => " ", :include_blank => ' '}) %>
			<% end %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<b>OR</b>
	 	</td>

		<td >
			<% get_contracts %>
			<label class="label" for="shipment">Contract<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>		    
			<%= collection_select("shipment", "contract_id", @contracts, "id", "contractfull", options = {:prompt => " ", :include_blank => ' '}) %>
		</td>
	</tr>
	<tr> 
		<td colspan="4" class="thinline">
		</td>
	</tr>
	
	<tr>
		<td >
			<% get_cropplans_by_year %>
			<label class=" label" for="shipments">Crop plan*<abbr title="required"> </abbr> &nbsp;  &nbsp;</label>		
		</td>
		<td>		    
			<%= collection_select("shipment", "cropplan_id", @cropplans, "id", "cropplanfull", options = {:prompt => " "}) %>
		</td>

			<td>
				<%= f.label :ship_date, "Ship Date*" %> 
			</td>
			<td>
				<%= f.text_field :ship_date %>
			</td>
	</tr>
	<tr>
		<td class="label">
			<% get_parties_by_type("Trucker") %>
			<label class=" label" for="shipment">Trucker<abbr title="required"> </abbr>  </label> 
		</td>
		<td>
			<% if !@party_types.nil? %>			
				<%= collection_select("shipment", "trucker_id", @party_types, "id", "partyname", options = {:prompt => " "}) %>
			<% end %>
	 	</td>
		<td>
			<%= f.label :trucker_name, "Driver name*" %> 
		</td>
		<td>
			<%= f.text_field :trucker_name %>
		</td>
	</tr>
	
	<tr>
		<td>
			<%= f.label :manifest_id, "Manifest number*" %> 
		</td>
		<td>
			<%= f.text_field :manifest_id %>
		</td>
		<td>
			<%= f.label :shipping_charge, "Shipping charge" %> 
		</td>
		<td>
			<%= f.text_field :shipping_charge %>
		</td>
	</tr>
	
	<tr>
		<td class="label">
			<% get_parties_by_type("Broker") %>
			<label class=" label" for="shipment">Broker<abbr title="required"> </abbr>  </label> 
		</td>
		<td>
			<% if !@party_types.nil? %>			
				<%= collection_select("shipment", "broker_id", @party_types, "id", "partyname", options = {:prompt => " "}) %>
			<% end %>
	 	</td>
		<td>
			<%= f.label :commission_amount, "Commission %" %> 
		</td>
		<td>
			<%= f.text_field :commission_amount %>
		</td>
	</tr>
	
	<tr>
		<td colspan="2">
		 
			<div class="hintbase">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		 	 
		      Shipping address if different than in Party profile			 
			</div>
		</td>
 
	</tr>
	<tr>
		<td>
			<%= f.label :shipto_street, "Ship Address" %> 
		</td>
		<td>
			<%= f.text_field :shipto_street %>
		</td>
		<td>
			<%= f.label :shipto_city, "Ship City" %> 
		</td>
		<td>
			<%= f.text_field :shipto_city %>
		</td>
	</tr>

 
	<tr>
		<td>
			<%= f.label :shipto_state, "State" %> 
		</td>
		<td>
			<%= f.text_field :shipto_state %>
		</td>
		<td>
			<%= f.label :shipto_postalcode, "Postal code" %> 
		</td>
		<td>
			<%= f.text_field :shipto_postalcode %>
		</td>
	</tr>
 
		<tr>
			<td colspan="2">
			<br>	&nbsp;&nbsp;&nbsp;&nbsp;
			 	<%= f.submit "Update Shipment ", :class => "button" %>
			<br> <br> 
			</td>
			<td>
				<%= f.label :shipment_amount, "Shipment amount" %>
				<br>
				<%= link_to '(refresh amount)', :controller => :shipments, :action => :edit, :id => session[:s_shipment_id] %> 
			</td>
			<td>
			  <div class="disabled">
				<%= f.text_field :ship_amount, :disabled => true %>
			  </div>
			</td>
		</tr>	
	 </table>


	<br>


	<% end %>