<script type="text/javascript"> 

function checkShipment() {

	if (document.sh.shipment_contract_id.value != ' ') {
	   document.sh.shipment_customer_id.disabled=true;  
	   document.sh.shipment_cropplan_id.disabled=true;
	}

	if (document.sh.shipment_ship_status.value == 'invoiced')
	{
	
	   document.sh.shipment_ship_status.disabled=true;
	   document.sh.sh_submit.disabled=true;
	   document.sh.selectbutton.disabled=true;
	   document.sh.deletebutton.disabled=true;
	   
	} 
}
</script>



 
<h1>Manage Shipment</h1>
<%= link_to 'Back', "/shipmentview" %>
<br> 

<%= button_to "Delete","/shipments/#{@shipment.id}/destroy" , :method=>:delete, :class=>:button_destroy, :confirm => 'Are you sure?' %>


<%= render 'form' %>

<%= render 'shipmentdetails/index_view' %> 

<%= link_to 'Back', "/shipmentview" %>


