<p id="notice"><%= notice %></p>

<p>
  <b>time key:</b>
  <%= @ztime.timekey %>
</p>

<p>
  <b>time display:</b>
  <%= @ztime.display %>
</p>


<%= link_to 'Edit', edit_ztime_path(@ztime) %> |
<%= link_to 'Back', ztimes_path %>
