<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @fieldtask.user_id %>
</p>

<p>
  <b>Task type:</b>
  <%= @fieldtask.task_type %>
</p>

<p>
  <b>Taskdescription:</b>
  <%= @fieldtask.taskdescription %>
</p>

<p>
  <b>Task notes:</b>
  <%= @fieldtask.task_notes %>
</p>

<p>
  <b>Task duration days:</b>
  <%= @fieldtask.task_duration_days %>
</p>

<p>
  <b>Task frequency days:</b>
  <%= @fieldtask.task_frequency_days %>
</p>


<%= link_to 'Edit', edit_fieldtask_path(@fieldtask) %> |
<%= link_to 'Back', fieldtasks_path %>
