
<header>
 
	<table width="100%">
		<tr>
			<td align="left" valign="top">
				<div id="farmlogo">
					<span>MyFarm</span>
  				</div>
			</td>
			<td align="right" valign="top">
				<nav class="round">
					<ul>
						<li><font color="yellow">
						<% if signed_in?  %>
								Welcome - <%= get_current_user.name %> 
						<% end %>	
							</font> </li>
						<li> <%= link_to "Home", root_path %></li>
						<li> <div id="wx_module_1759">
						   <a href="#" onclick="weatherpopup()">Weather</a>
						</div></li>

				 		<% if signed_in? %>

						<li><%= link_to "Farmers", users_path %></li>
						<li><%= link_to "Profile", get_current_user %></li>
						<li><%= link_to "Settings", edit_user_path(get_current_user) %></li>

						<% end %>

						<li><%= link_to "Help", help_path %></li>

						<% if signed_in? %>
							<li><%= link_to "Sign out", signout_path, :method => :delete %></li>



						<% else %>

							<li><%= link_to "Sign in", signin_path %></li>				
						<% end %>


					</ul>
				</nav>
			 
			 
			
			</td>
		</tr>
	</table>
 
<!---  Hover menu definition                             -->
<% if signed_in? %>
 
	<div id="globalNavDiv" class="round">
	    <ul>
			<span id="menu1">
			<li><a href="#"
			onmouseover="showhide('submenu1', true); return false;"
			onmouseout="showhide('submenu1', false);">Farm profile</a></li>
			</span>
			
			<span id="menu2">
			<li><a href="#"
			onmouseover="showhide('submenu2', true); return false;"
			onmouseout="showhide('submenu2', false);">Inventory</a></li>
			</span>
			
			<span id="menu3">
			<li><a href="#"
			onmouseover="showhide('submenu3', true); return false;"
			onmouseout="showhide('submenu3', false);">Reports</a></li>
			</span>
			
			<span id="menu4">
			<li><a href="#"
			onmouseover="showhide('submenu4', true); return false;"
			onmouseout="showhide('submenu4', false);">About us</a></li>
			</span>
			
	    </ul>
	</div>
	
	<div id="submenu1" class="round">
	    <a href="#">Menu Item 1 has much info. </br> So I'm going to break the line</a>
	    <a href="#">Menu Item 2</a>
	    <a href="#">Menu Item 3</a>
		<a href="#">Menu Item 4</a>
	</div>
	<div id="submenu2" class="round">
	    <a href="#">Menu Item 1</a>
		<a href="#">Menu Item 2</a>
		<a href="#">Menu Item 3</a>
		<a href="#">Menu Item 4</a>
	</div>
	<div id="submenu3" class="round">
	    <a href="#">Really really long long Menu Item 1</a>
		<a href="#">Really really long long Menu Item 2</a>
		<a href="#">Really really long long Menu Item 3</a>
		<a href="#">Really really long long Menu Item 4</a>
	</div>
	<div id="submenu4" class="round">
	    <a href="#">Menu Item 1</a>
		<a href="#">Menu Item 2</a>
		<a href="#">Menu Item 3</a>
		<a href="#">Menu Item 4</a>
	</div>
 
 <% end %>
</header>


