
<header> 
	<%= yield :head %>
	<table width="100%"  class="header">

		<tr>
			<td align="left" valign="top">
				
				<div id="homepageh0">
					<img src="/Images/seedling.jpg" width="60" height="50"></img>
					<span>iFarmService</span>
  				</div>
			 
				 
			</td>
			<td align="right" valign="top">
				<nav class="round">
					<ul>

						<li><font color="slategrey">
						<% if signed_in?  %>
								Welcome - <%= @current_user.name %> 
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<% end %>	
							</font> </li>
						<li> <%= link_to "Home", root_path %></li>
						<li> <div id="wx_module_1759">
						   <a href="#" onclick="weatherpopup()">Weather</a>
						</div></li>

					 
				 		<% if signed_in? %>

						<li><%= link_to "mySettings", edit_user_path(@current_user.id) %></li>
						<li><a href="/Images/ifarmservice_documentation.docx">Documentation</a></li>

						<% end %>


						<% if signed_in? %>
							<li><%= link_to "Sign out", signout_path, :method => :delete %></li>



						<% else %>

							<li><%= link_to "Sign in", signin_path %></li>				
						<% end %>


					</ul>
				</nav>
			 
			 
			
			</td>
		</tr>

 
<tr>
	<td colspan="2">
		<!---  Hover menu definition                             -->
		<% if signed_in? %>
		<% if subscription_valid? %>
		<% if user_has_party? %>
 
			<div id="globalNavDiv" class="menu">
			    <ul>
					<span id="menu1">
					<li><a href="#"
					onmouseover="showhide('submenu1', true); return false;"
					onmouseout="showhide('submenu1', false);">FARM PROFILE</a></li>
					</span>
			
					<span id="menu2">
					<li><a href="#"
					onmouseover="showhide('submenu2', true); return false;"
					onmouseout="showhide('submenu2', false);">FARM OPERATIONS</a></li>
					</span>
			
					<span id="menu3">
					<li><a href="#"
					onmouseover="showhide('submenu3', true); return false;"
					onmouseout="showhide('submenu3', false);">REPORTS AND VIEWS</a></li>
					</span>
			
					<span id="menu4">
					<li><a href="#"
					onmouseover="showhide('submenu4', true); return false;"
					onmouseout="showhide('submenu4', false);">UTILITIES</a></li>
					</span>
					
					
					<span id="menu5">
					<li><a href="#"
					onmouseover="showhide('submenu5', true); return false;"
					onmouseout="showhide('submenu5', false);">NEWS</a></li>
					</span>
			
			    </ul>
			</div>
	
			<div id="submenu1" class="round">
				<div class="menugroup">
					Build your farm profile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				    <a href="/partyview">Manage people and businesses </a>
					<a href="/farmview">Define Farms</a>
					<a href="/fieldview">Define Fields</a>
				    <a href="/cropview">Define crops </a>
					<a href="/cropplanview">Set crop plan </a>
				
				<div class="menugroup">
					Build the assets for your farm work
				</div>
					<a href="/supplyview">Define Supplies </a>				
					<a href="/fieldtaskview">Define Field tasks </a>			    
					<a href="/equipmentview">Define Equipment </a>				
					<a href="/storageview">Define Storage units </a>

			</div>
			<div id="submenu2" class="round">
				<div class="menugroup">
					Farm work tools &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
				</div>
			     <a href="/farmjobview">Manage Farm jobs</a>
				 <a href="/calendar">View job calendar</a>
				
				 
				
				<div class="menugroup">
					Crop Sales and Inventory &nbsp; &nbsp;&nbsp; &nbsp;
				</div>
				 <a href="/scaleticketview">Scale tickets</a>
				 <a href="/inventorylotview">Crop Inventory</a>
				 <a href="/contractview">Sales contracts</a>
				 <a href="/shipmentview">Shipments</a>
				 <a href="/invoice_generator">Create Invoices</a>
				 <a href="/invoiceview">View Invoices</a>
				 
				
				<div class="menugroup">
					Purchase orders &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
				</div>						
				 <a href="/poview">Purchase Orders</a>
				 <a href="/supplyinventoryview">Supplies inventory</a>
 
			</div>
			<div id="submenu3" class="round">
				<div class="menugroup">
					View your key indicators &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
				</div>
			     <a href="/farmjobreportrequestor">Farm job reports</a>
				 <a href="/profitabilityreportrequestor">Profitability reports</a>
				<a href="/yieldrequestor">Harvest Yield report</a>
				 <a href="/invoicerequestor">Print Invoices</a>
				<a href="/invoicereportrequestor">Invoice detail report</a>
				 <a href="/scaleticketrequestor">Scaletickets report</a>
				<a href="/fertilizerrequestor">Fertilizer report</a>
				<a href="/chemicalrequestor">Restricted use chemical report</a>
				<a href="/depreciationrequestor">Depreciation and Cost of ownership report</a>
 
			</div>
			<div id="submenu4" class="round">
				<div class="menugroup">
					Farm social network &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
				</div>
				 <a href="/users">Farm community </a>
				 <%= link_to "My community", mynetwork_path %>

				 <a href= "/users/<%= session[:s_user_id] %>">My farm posts </a>
				<div class="menugroup">
					Account Management &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					&nbsp; &nbsp;  &nbsp;     
				</div>
				<%= link_to "Manage Settings and Subscription", edit_user_path(@current_user.id) %>
			    <a href="/typeview">Maintain data types </a>
				<div class="menugroup">
					Weather &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;  
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;   
					&nbsp; 
				</div>
				<a href="#" onclick="weatherpopup()">Current Weather</a>
				<a href="/weatherview">Historical Weather</a>				

				<div class="menugroup">
					Documentation&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
					&nbsp;   
				</div>
				<a href="/tutorial">iFarmService Overview </a>
				<a href="/Images/ifarmservice_documentation.docx">iFarmService Documentation</a>
				
			
 
			</div>
 			<div id="submenu5" class="round">
				<div class="menugroup">
					Agriculture News &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
				</div>
				<a href="#" onclick="agnewspopup()">Ag Professional news</a> 
				<a href="#" onclick="finewspopup()">Farm industry news</a> 
				<a href="#" onclick="agrinewspopup()">Agriculture.com news</a> 
				<a href="#" onclick="awnewspopup()">Ag Web.com news</a> 
				<a href="#" onclick="futurefarmerspopup()">Farmers for the future news</a> 		
				<a href="#" onclick="usdapopup()">U.S. Department of Agriculture</a>
			</div>
		 <% end %>
		 <% end %>
		 <% end %>

		</td>
	</tr>

</table>
</header>


