
<header>

	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li> <%= link_to "Home", root_path %></li>
			
	 		<% if signed_in? %>
			
			<li><%= link_to "Users", users_path %></li>
			<li><%= link_to "Profile", get_current_user %></li>
			<li><%= link_to "Settings", edit_user_path(get_current_user) %></li>
			
			<% end %>
						
			<li><%= link_to "Help", help_path %></li>
			
			<% if signed_in? %>
				<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
				
				<br> <li> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
						  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
						
				<font color="yellow">	Welcome -> <%= get_current_user.name %> </font> </li>
			<% else %>
				
				<li><%= link_to "Sign in", signin_path %></li>				
			<% end %>
			
			<br>
		 
		
			
	

		</ul>
	</nav>
</header>


