<!DOCTYPE html>
<html>
<head>
		  <!--	 -->
  <title><%= title %>  </title> 
  

<%= javascript_include_tag :all %> 

<script>
	  jQuery.noConflict();
	
	function alertMe(){
       	var country = "Fiji";
			var city = "Suva";
			alert('The city of ' + city + ' is located in ' + country + '.');
        }

function weatherpopup()
		{
		    window.open ("http://www.weather.com/weather/local/95476","weatherwindow","status=1, resizable=1,width=680, height=820");
		}
		


<!--  Script for hover mega menus -->
		var menuArray = new Array();
		menuArray[0] = 'submenu1';
		menuArray[1] = 'submenu2';
		menuArray[2] = 'submenu3';
		menuArray[3] = 'submenu4';
		

		
		var globalObject = '';
		var isActive = false;
		var ourTimer;
		
		function showhide(obj, onlink)
		{
		    targetObject = document.getElementById(obj).style;
		    globalObject = targetObject;

		    if(onlink)
		    {
		        clearTimeout(ourTimer);

		        for (i=0; i < menuArray.length; i++)
		        {
		            var tempObject = document.getElementById(menuArray[i]).style;
		            tempObject.visibility = "hidden";
		        }

		        targetObject.visibility = 'visible';
		        isActive = true;
		    }
		    else
		    {
		        isActive = false;
		        layerTimer();
		    }
		}

		function layerTimer()
		{
		    ourTimer = setTimeout("hideMenu()",0450);
		}

		function hideMenu()
		{
		    if( !isActive )
		    {
		        globalObject.visibility = 'hidden';
		    }
		}

		function layerCheck(flag)
		{
		    if(flag)
		    {
		        isActive = true;
		        clearTimeout(ourTimer);
		    }
		    else
		    {
		        isActive = false;
		        layerTimer();
		    }
		}
		
		window.onload = function()
		{
		    for(var i=0;i<menuArray.length;i++)
		    {
		        var id = menuArray[i];
		        var e = document.getElementById(id);
		        e.onmouseover = function(e)
		        {
		            layerCheck(true);
		        }
		        e.onmouseout = function(e)
		        {
		            layerCheck(false);
		        }
		    }
		}
</script>


<script type="text/javascript">

   /* Locations can be edited manually by updating 'wx_locID' below.  Please also update */
   /* the location name and link in the above div (wx_module) to reflect any changes made. */
   var wx_locID = '95476';

   /* If you are editing locations manually and are adding multiple modules to one page, each */
   /* module must have a unique div id.  Please append a unique # to the div above, as well */
   /* as the one referenced just below.  If you use the builder to create individual modules  */
   /* you will not need to edit these parameters. */
   var wx_targetDiv = 'wx_module_1759';

   /* Please do not change the configuration value [wx_config] manually - your module */
   /* will no longer function if you do.  If at any time you wish to modify this */
   /* configuration please use the graphical configuration tool found at */
   /* https://registration.weather.com/ursa/wow/step2 */
   var wx_config='SZ=180x150*WX=FHW*LNK=SSNL*UNT=F*BGI=boat*MAP=null|null*DN=myfarm.com*TIER=0*PID=1268599066*MD5=7214d27b4c44f94976f1468029988d2b';

   document.write('<scr'+'ipt src="'+document.location.protocol+'//wow.weather.com/weather/wow/module/'+wx_locID+'?config='+wx_config+'&proto='+document.location.protocol+'&target='+wx_targetDiv+'"></scr'+'ipt>');  
</script>


 

<%= csrf_meta_tag %>  
<%= render 'layouts/stylesheets' %>




</head>
<body>
	<%=render 'layouts/header'%>

	<!--- <input type="button" value="Alert me" onclick="alertMe()" /> -->

	
	<div class="container">
	<section class="round">
		<% flash.each do |key, value| %>
			<div class="flash <%= key %> "> <font color="blue"> <%= value %> </font> </div>
		<% end %>
		

	
		<%= yield %>
	</section>
	

		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>

	</div>

</body>
</html>
