<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
		  <!--	 -->
  <title><%= title %>  </title> 


<!-- Javascript inclusion	 -->  
 
<%= javascript_include_tag "https://js.stripe.com/v1/" %>
<%= javascript_include_tag  :all %>
 
<!-- JQuery javascript for UI widgets-->	
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>

<script src="http://code.google.com/apis/gears/gears_init.js" type="text/javascript"></script>

<!-- Style sheet inclusion	 --> 
<%= csrf_meta_tag %>  
<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY   %>
 
<%= render 'layouts/stylesheets' %>


<!-- Jquery scripts for UI widgets	 -->
<script>
jQuery.noConflict();
jQuery(document).ready(function($) {
  // here the $ function is jQuery's because it's an argument
  // to the ready handler

	// following group defines date input for Jquery UI datepicker
  $.datepicker.setDefaults($.datepicker.regional['']);
  $('#party_created_at').datepicker( { dateFormat: 'yy-mm-dd' });
  $('#farmjob_start_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#farmjob_stop_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#scaleticket_tran_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#contract_contract_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#shipment_ship_date').datepicker({ dateFormat: 'yy-mm-dd' }); 
  $('#po_orderdate').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#po_duedate').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#start_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#stop_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#invoice_invoice_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#equipmentactivity_activity_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#retailcrop_available_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#retailorder_order_date').datepicker({ dateFormat: 'yy-mm-dd' });
  $('#retailorder_need_by_date').datepicker({ dateFormat: 'yy-mm-dd' });
   

});
</script>

<script>	
		
	function weatherpopup()			
					{
				window.open ("http://www.weather.com/weather/local/<%= get_user_postal_code %>" ,"weatherwindow","status=1, resizable=1,width=660, height=1080, scrollbars=1, toolbar=1");
					}
					
	function agnewspopup()			
					{
				window.open ("http://www.agprofessional.com" ,"newswindow","status=1, resizable=1,width=960, height=1080, scrollbars=1, toolbar=1");
					}

    function finewspopup()			
									{
								window.open ("http://www.farmindustrynews.com" ,"newswindow","status=1, resizable=1,width=960, height=1080, scrollbars=1, toolbar=1");
									}
	function agrinewspopup()			
									{
										window.open ("http://www.agriculture.com" ,"newswindow","status=1, resizable=1,width=960, height=1080, scrollbars=1, toolbar=1");
																	}
																	
	function awnewspopup()			
							{
								window.open ("http://www.agweb.com" ,"newswindow","status=1, resizable=1,width=960, height=1080, scrollbars=1, toolbar=1");
																									}

	function futurefarmerspopup()			
							{
								window.open ("http://farmersforthefuture.ning.com/" ,"newswindow","status=1, resizable=1,width=960, height=1080, scrollbars=1, toolbar=1");
																																									}					
	
	function sustainablepopup()			
									{
				window.open ("http://attra.ncat.org/" ,"sustainablewindow","status=1, resizable=1,width=960, height=1080, scrollbars=1, toolbar=1");
}													
													
	function usdapopup()			
																		{
				window.open ("http://usda.gov/" ,"usdawindow","status=1, resizable=1,width=960, height=1080, scrollbars=1, toolbar=1");
									}
</script>

 	 

</head>
 


<body    onload="<%= @onload %>" >  

	<br>
	<div class="container">
	
	<%=render 'layouts/header'%>



		<div class="thinseparator"></div>
 		

		
		<section class="round">
	
		<% flash.each do |key, value| %>
			<div class="flash<%= key %>">   <%= value %>   </div>
			 
		<% end %>
			
		</section>
		
	 <table>
		<tr>
			<td width="5%">

			</td>
			
			<% if   request.request_uri != '/signin'  and request.request_uri != '/signup'  and request.request_uri != '/overview' %>	
			<td  width="10%">
		
				 <% if request.request_uri == '/home' %>
					<% if signed_in? %>
						<%=render 'pages/vertical_menu'%>
					<% end %>
				 <% else %>
						<%=render 'pages/vertical_menu'%>
				 <% end %>
			</td>
		   <% end %>
			
			
			<td  width="80%">
				<br>
				<div class="centermain">
					<%= yield %>
				</div>
			</td>
		
			<td  width="5%">
			</td>
			
		</tr>
	</table>
		

	

		
		</section>
	
		<br>
		<%= render 'layouts/footer' %>
		
		<!--	
		<%= debug(params) if Rails.env.development? %>
		 -->
	</div>
 
</body>
</html>
