<!DOCTYPE html>
<html>
<head>
		  <!--	 -->
  <title><%= title %>  </title> 
  

<%= javascript_include_tag :all %> 

<script>
	  jQuery.noConflict();
	
	function alertMe(){
       	var country = "Fiji";
			var city = "Suva";
			alert('The city of ' + city + ' is located in ' + country + '.');
        }

<!--  Script for hover mega menus -->
		var menuArray = new Array();
		menuArray[0] = 'submenu1';
		menuArray[1] = 'submenu2';
		menuArray[2] = 'submenu3';
		menuArray[3] = 'submenu4';
		

		
		var globalObject = '';
		var isActive = false;
		var ourTimer;
		
		function showhide(obj, onlink)
		{
		    targetObject = document.getElementById(obj).style;
		    globalObject = targetObject;

		    if(onlink)
		    {
		        clearTimeout(ourTimer);

		        for (i=0; i < menuArray.length; i++)
		        {
		            var tempObject = document.getElementById(menuArray[i]).style;
		            tempObject.visibility = "hidden";
		        }

		        targetObject.visibility = 'visible';
		        isActive = true;
		    }
		    else
		    {
		        isActive = false;
		        layerTimer();
		    }
		}

		function layerTimer()
		{
		    ourTimer = setTimeout("hideMenu()",0450);
		}

		function hideMenu()
		{
		    if( !isActive )
		    {
		        globalObject.visibility = 'hidden';
		    }
		}

		function layerCheck(flag)
		{
		    if(flag)
		    {
		        isActive = true;
		        clearTimeout(ourTimer);
		    }
		    else
		    {
		        isActive = false;
		        layerTimer();
		    }
		}
		
		window.onload = function()
		{
		    for(var i=0;i<menuArray.length;i++)
		    {
		        var id = menuArray[i];
		        var e = document.getElementById(id);
		        e.onmouseover = function(e)
		        {
		            layerCheck(true);
		        }
		        e.onmouseout = function(e)
		        {
		            layerCheck(false);
		        }
		    }
		}
</script>



 

<%= csrf_meta_tag %>  
<%= render 'layouts/stylesheets' %>




</head>
<body>
	<%=render 'layouts/header'%>

	<!--- <input type="button" value="Alert me" onclick="alertMe()" /> -->

	
	<div class="container">
	<section class="round">
		<% flash.each do |key, value| %>
			<div class="flash <%= key %> "> <font color="blue"> <%= value %> </font> </div>
		<% end %>
		

	
		<%= yield %>
	</section>
	

		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>

	</div>

</body>
</html>
