<script type="text/javascript"> 
function checkFarmjob() {
 

	if (document.fj.farmjob_job_status.value == 'Job complete')
	{
	   document.fj.farmjob_job_status.disabled=true;
	   document.fj.fjsubmit.disabled=true;
	   document.fj.partyadd.disabled=true;
	   document.fj.partydelete.disabled=true;
	   document.fj.supplyadd.disabled=true;
	   document.fj.supplydelete.disabled=true;
	   document.fj.equipmentadd.disabled=true;
	   document.fj.equipmentdelete.disabled=true;
	} 
}

</script>

 
<h1>Editing Farm job</h1>
 
<%= form_tag '/jobsheetreport.pdf', :method=>'post' do %>
		<%= submit_tag "Print job sheet", :class => "button" %>
	<input type="hidden" name="farmjob_id" value="<%= @farmjob.id %>" />
<% end %>
<br>
<%= link_to 'Back', session[:return_to] %>
<br>
<%= render 'form' %>




<%= link_to 'Back', session[:return_to] %>
<br>

